<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssynhtn.ninegag" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ssynhtn.ninegag.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ssynhtn.ninegag.GagItemActivity"
            android:label="@string/title_activity_gag_item"
            android:parentActivityName="com.ssynhtn.ninegag.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ssynhtn.ninegag.MainActivity" />
        </activity>

        <provider
            android:name="com.ssynhtn.ninegag.data.GagProvider"
            android:authorities="com.ssynhtn.ninegag.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.ssynhtn.ninegag.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <service
            android:name="com.ssynhtn.ninegag.service.SaveImageFileService"
            android:exported="false" >
        </service>
    </application>

</manifest>
